Project/server-node/storage/thumbnail/
Project/server-node/storage/torrent/
Project/server-node/storage/video/

# lock
Project/server-node/package-lock.json
Project/client-react/package-lock.json
Project/client-react/yarn.lock

# dependencies
Project/server-node/node_modules/
Project/client-react/node_modules/
Project/client-react/.pnp
Project/client-react/.pnp.js

# testing
Project/client-react/coverage

# production
Project/server-node/build/
Project/client-react/build/

# extra
Project/server-node/__temp/

# misc
Project/client-react/.DS_Store
Project/client-react/.env.local
Project/client-react/.env.development.local
Project/client-react/.env.test.local
Project/client-react/.env.production.local
Project/client-react/npm-debug.log*
Project/client-react/yarn-debug.log*
Project/client-react/yarn-error.log*

