@keyframes BeProud {
	100% { background-position: 100vw 0px; }
}

@keyframes Always {
	100% { transform: scale(1.1);}
}

/* React Player */
.react-player-css video {
  outline: none;
  max-height: 461px;
}
/* React Player */

/* React Player */
.react-audio-player {
  width: 100%;
  outline: none;
}
/* React Player */
